.audioPlayerControls {
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0 0 1px var(--text-color-secondary);
  border-radius: 8px;
  height: var(--ev-height);
  width: 100%;
  padding: 0 40px;
  color: var(--text-color);

  .icons {
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 2;
    .iconLast,
    .iconNext,
    .iconPlay {
      font-size: 22px;
      cursor: pointer;
      margin: 0 15px;
      &:hover {
        color: var(--text-color-hover);
      }
    }

    .iconPlay {
      font-size: 26px;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }

  .audioPlayerProgressBar {
    flex: 6;
    width: 100%;
    padding: 0 20px;
    .infoTime {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
    .progressBar {
      width: 100%;
      height: 5px;
      border-radius: 5px;
      background-color: var(--bg-color-theme-1);
      cursor: pointer;
      margin: 4px 0;

      .progress {
        height: 100%;
        width: 0;
        background-color: var(--bg-color-theme-2);
        border-radius: 5px;
      }
    }
  }

  .audioPlayerLeft {
    flex: 3;
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }
}
