:root {
  --ev-c-color: #333;
  --ev-c-bg: #ffffff;
  --ev-c-hover: #666;
  --ec-c-bg-progress-bar: rgba(0, 0, 0, 0.2);
  --ec-c-bg-progress: rgba(0, 0, 0, 0.4);
  --ec-c-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* 暗黑主题变量 */
[data-theme='dark'] {
  --ev-c-color: #ffffff;
  --ev-c-bg: #1b1b1f;
  --ev-c-hover: #cccccc;
  --ec-c-bg-progress-bar: rgba(255, 255, 255, 0.2);
  --ec-c-bg-progress: rgba(255, 255, 255, 0.4);
  --ec-c-shadow: 0 0 10px rgba(255, 255, 255, 0.05);
}

:root {
  --ev-font-size: 16px;
  --ev-font-size-sm: 14px;
  --ev-font-size-lg: 18px;
  --ev-height: 80px;
  min-height: 100vh;
}

::view-transition-new(root),
::view-transition-old(root) {
  /* 关闭默认动画，否则影响自定义动画的执行 */
  animation: none;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  font-weight: normal;
}

ul {
  list-style: none;
}

body {
  font-size: var(--ev-font-size);
  line-height: 1.6;
  font-family:
    Inter,
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    'Fira Sans',
    'Droid Sans',
    'Helvetica Neue',
    sans-serif;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
