@import './base.css';

body {
  width: 100%;
  height: 100vh;
  overflow: hidden;
  user-select: none;
  background-color: var(--ev-c-bg);
  color: var(--ev-c-color);
  backdrop-filter: blur(10px); /* 模糊效果 */
  box-sizing: border-box;
}

@media (max-width: 720px) {
  .text {
    font-size: 20px;
  }
}
