@import './base.css';

body {
  width: 100%;
  height: 100vh;
  overflow: hidden;
  user-select: none;
  background-color: var(--ev-c-bg);
  color: var(--ev-c-color);
  backdrop-filter: blur(10px); /* 模糊效果 */
  box-sizing: border-box;
}

.ant-input-outlined:hover {
  border-color: var(--ec-c-bg-progress-bar) !important;
}

.ant-input-outlined:focus {
  border-color: var(--ec-c-bg-progress-bar) !important;
  box-shadow: none !important;
}

.ant-input-outlined:focus-within {
  border-color: var(--ec-c-bg-progress-bar) !important;
  box-shadow: none !important;
}
