.appBar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 48px;
  background: transparent;
  padding: 0 20px;
  color: var(--ev-c-color);
  display: flex;
  align-items: center;
  justify-content: space-between;
  -webkit-app-region: drag; /* 允许拖动 */

  .searchInput {
    color: var(--text-color-secondary);
    width: 30%;
    -webkit-app-region: no-drag; /* 输入框不可拖动 */
    background-color: var(--bg-color-secondary);
    border-color: var(--text-color-secondary);
    opacity: 0.6;
  }

  input::placeholder {
    color: var(--text-color-secondary);
  }
}
